# Logs
logs
*.log
npm-debug.log*
.DS_Store
._.DS_Store
._input_boolean.yaml
._known_devices.yaml
._logger.yaml
._recorder.yaml
._sensor.yaml
.ios.conf
.vscode/


# Runtime data
pids
*.pid
*.seed

# Python cache
__pycache__
*.pyc

*.csr
*.crt
*.key
.uuid
.google.token
OZW_Log.txt
html5_push_registrations.conf
phue.conf
plex.conf
nest.conf

.HA_VERSION
camera_recording.py
home-assistant.env
home-assistant.*
home-assistant.log
home-assistant_v2.db
known_devices.yaml
secrets.yaml
google_calendars.yaml
components
deps
tts
www
icloud



